/*
** ENI Project 2023
** PizzaHub
** Paul Tanguy, Florian Guérin
** menu.css
*/

#menu>div.grid {
	margin-top: 2vh;
	padding: 1vh;
	border: 1px solid dimgrey;
	border-radius: 1vh;
	background-color: lightgrey;
}

#menu>div.grid>div.container { margin-top: 2vh; }

.button {
	padding: 3vh 6vw;
}

header#header {
	position: sticky;
	top: 0;
}

header.not-sticky {
	position: initial;
}

main {
	margin-top: 1vh;
}