/*
** ENI Project 2023
** PizzaHub
** Paul Tanguy, Florian Guérin
** menu.css
*/

#menu>div.grid {
	margin-top: 2vh;
	padding: 1vh;
	border: 1px solid dimgrey;
	border-radius: 1vh;
	background-color: lightgrey;
}

#menu>div.grid>div.container { margin-top: 2vh; }

.button {
	border: 1px solid black;
	color: white;
	background-color: red;
	border-radius: 100vh;
	padding: 3vh 6vw !important;
}