/*
** ENI Project 2023
** PizzaHub
** Paul Tanguy, Florian Guérin
** styles.css
*/

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	border: none;
	color: black;
	background-color: none;
	text-decoration: none;
	text-transform: none;
	text-shadow: none;
}

p, h1, h2, span { user-select:text; }

.center-children {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.button {
	border: 1px solid black;
	color: white;
	background-color: red;
	border-radius: 100vh;
	padding: 1vh 1vw;
	user-select: none;
}

.banner {
	height: 100vh;
	margin-bottom: 1vh;
	background-image: url("/assets/crinckled_background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.align-left {
	display: block;
	float: left;
	margin-right: 0.5vh;
}

.align-right {
	display: block;
	float: right;
	margin-left: 0.5vh;
}

.grid-1 {
	display: grid;
	text-align: center;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr;
	width: 100%;
	height: 100%;
}

.grid-2 {
	display: grid;
	text-align: center;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 100%;
}

.grid-3 {
	display: grid;
	text-align: center;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	height: 100%;
}

main { margin-bottom: 11vh; }

footer {
	position: fixed;
	top: 90vh;
	left: 0;
	right: 0;
	bottom: 0;

	color: white;
	background-color: dimgrey;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.gridgap { grid-gap: 1vh 1vw; }
.halfgap { grid-gap: 0.5vh 0.5vw; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.light { font-weight: lighter; }
.underline { text-decoration: underline; }
.line-through { text-decoration: line-through; }
.overline { text-decoration: overline; }

.border { border: 1px solid black; }

.inline { display: inline; }

.input>label { margin-right: 0.5vw; }
.input>input { margin-left: 0.5vw; }
.input>select { margin-left: 0.5vw; }