<!--
-- ENI Project 2023
-- PizzaHub
-- Paul Tanguy, Florian Guérin
-- cart.html
-->

<!DOCTYPE html>
<html lang="fr">
	<head>
    <meta charset="utf-8">
    <title>PizzaHub</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/cart.css">

    <script src="/scripts/cart.js" type="module"></script>
    <script src="/scripts/templates.js" type="module"></script>
  </head>

  <body>
    <main>
      <div id="cart" class="grid-1">
        <h1 class="underline bold">VOTRE PANIER</h1>
      </div>
    </main>
  </body>
</html>