<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Pad</title>
    <link type="text/css" rel="stylesheet" href="/styles/choose.css">
    <link type="text/css" rel="stylesheet" href="/styles/common.css">
</head>
<body>
    <a href="/views/kitchen.html">
        <section class="kitchen">
            <h2 href="">I'm a Cook</h2>
        </section>
    </a>
    <a href="/views/waiter.html">
        <section class="waiter">
            <h2 href="">I'm a waiter</h2>
        </section>
    </a>

</body>