<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Pad</title>
    <link type="text/css" rel="stylesheet" href="/styles/kitchen.css">
    <link type="text/css" rel="stylesheet" href="/styles/common.css">
    <script src="https://kit.fontawesome.com/540b9977d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="takeway">
        <h2>A emporter</h2>
        <div class="scroller">
        </div>
        
    </section>



    <section class="atRestaurant">
        <h2>Sur Place</h2>
        <div class="scroller">

        </div>
    </section>
    <script type="module" src="/scripts/kitchen.js"></script>
</body>