<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter Order Pad</title>
    <link type="text/css" rel="stylesheet" href="/styles/kitchen.css">
    <link type="text/css" rel="stylesheet" href="/styles/common.css">
    <script src="https://kit.fontawesome.com/540b9977d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <main id="orderView">
        <div class="headerOrder">
            <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
            <h1>Commande</h1>
        </div>
        <ul class="orderList">
            <li>Pizza Margarita</li>
            <li>Calzone</li>
            <li>Pizza Margarita</li>

        </ul>
        <div class="footerOrder">
            <button class="classicalButton validateButton" type="button">Valider</button>
            <p>SLOT : <span>20h45</span></p>
        </div>
    </main>

</body>