<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter Order Pad</title>
    <link type="text/css" rel="stylesheet" href="/styles/kitchen.css">
    <link type="text/css" rel="stylesheet" href="/styles/common.css">
    <script src="https://kit.fontawesome.com/540b9977d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="takeway">
        <h2>A emporter</h2>
        <div class="scroller">
            <a class="orderBlock" href="#">
                <h3>Commande 1</h3>
                <div>
                    <ul>
                        <li>Chevre Chaud*3</li>
                        <li>Calzone*3</li>
                        <li>Tiramisu</li>
                        <li>...</li>
                    </ul>
                </div>
                <p>SLOT : <span>20h45</span></p>
            </a>
            <a class="orderBlock" href="#">
                <h3>Commande 2</h3>
            </a>
            <a class="orderBlock" href="#">
                <h3>Commande 3</h3>
            </a>
            <a class="orderBlock" href="#">
                <h3>Commande 4</h3>
            </a>
        </div>
        
    </section>



    <section class="atRestaurant">
        <h2>Sur Place</h2>
        <div class="scroller">
            <a class="orderBlock" href="#"</a><!-- mettre l'orderId dans la ref -->
                <h3>Table 1</h3>
                <div>
                    <ul>
                        <li></li>
                        <li>Calzone*3</li>
                        <li>Tiramisu</li>
                        <li>...</li>
                    </ul>
                </div>
                <p>ENTREE</p><!-- not add step for now -->
            </a>
        </div>
    </section>
</body>