<!--
-- ENI Project 2023
-- PizzaHub
-- Paul Tanguy, Florian Guérin
-- pizza.html
-->

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>PizzaHub</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/pizza.css">

    <script src="/scripts/pizza.js" type="module"></script>
    <script src="/scripts/header.js" type="module"></script>
    <script src="/scripts/footer.js" type="module"></script>
  </head>

  <body>
    <main>
      <div class="center-children">
        <div class="center-children">
          <h1>NOS PIZZAS</h1>
        </div>
        <div id="season-pizza" class="center-children"></div>
        <div id="all-pizza" class="center-children"></div>
      </div>
    </main>
  </body>
</html>