<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter Editing Ticket</title>
    <link type="text/css" rel="stylesheet" href="/styles/waiter.css">
    <link type="text/css" rel="stylesheet" href="/styles/common.css">
    <script src="https://kit.fontawesome.com/540b9977d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="/views/waiter.html"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>Addition</h1>
    </header>
    <main>
        <div class="orderResume edit">
            <ul class="item">
            </ul>
            <ul class="price">
            </ul>
        </div>
        <div class="totalReceipt">
            <p>TOTAL : <span></span></p>
        </div>
        <div class="finalButtons finalButtonsCenter">
            <button class="classicalButton editButton">Editer une addition</button>
        </div>
    </main>
    <script type="module" src="/scripts/editReceipt.js"></script>
</body>